
<style>
  #client{
    margin: 100px;
  }
  table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td{
    padding: 15px;
  }
</style>

{%extends 'base.html'%}

{%block content%}
<div id=client>
<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Industry</th>
    <th>Position</th>
    <th>Education</th>
    <th>Experience</th>
    <th>Resume</th>
  </tr>
{%for q in query%}
<tr>
<td>{{q}}</td>
<td>{{q.country}}</td>
<td>{{q.email}}</td>
<td>{{q.phone_number}}</td>
<td>{{q.industry.ind}}</td>
<td>{{q.position.pos}}</td>
<td>{{q.education}}</td>
<td>{{q.experience}}</td>
<td>{{q.resume}}</td>
</tr>
{%endfor%}
</table>
{%if not query %}
<p>No Results</p>
{%endif%}
</div>
{%endblock%}